
/* サークルアイコン：横幅によって読み込むファイル変えたい */
#icon {
    margin: 12px;
}

#icon img {
    width: 100%;
}

/* サイドのメニューバー */
#menu {
    border-top-right-radius: 32px;
    margin: 5px;
    padding: 12px 0.6em;
}

#menu p {
    padding: 0px;
    margin: 0px;
}

#menu ul {
    margin: 0px;
    padding: 0px 1em 1em 0.5em;
    list-style: none;
}

#menu li {
    font-size: small;
}

#menu .listTitle{
    font-weight: bold;
}

/* content関連の設定 */
#content {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background: none;
}

/* 下のやつ */
#footer {
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: grid;
    justify-content: center;
    align-items: center;
}

#footer p{
    padding: 0px;
    margin: 0px;
}

/* その他 */
.baseBody{
    margin: 6px 32px;
    background-color: #FCFCFC;
}