
/* サークルアイコン：横幅によって読み込むファイル変えたい */
#icon {
    margin: 5px;
}

#icon img {
    width: 100%;
}

/* サイドのメニューバー */
#menu {
    background-color: #AAA;
    border-top-right-radius: 32px;
    margin: 5px;
    padding: 2px;
}

#menu ul {
    margin: 0px;
    padding: 8px;
    list-style: none;
}

/* content関連の設定 */
#content {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background: none;
}

/* 下のやつ */
#footer {
    background-color: blueviolet;
    height: 100%;
    margin: 0px;
    padding: 0px;

    display: grid;
    justify-content: left;
    align-items: center;
}

#footer p{
    padding: 0px;
    margin: 0px;
}