#title          {grid-area: title;}
#other          {grid-area: other;}
#thumbnail	    {grid-area: thumbnail;}

body {
    margin-top: 24px;
    display: grid;
}

#title summary{
    width: 94%;
    padding: 12px 3%;
}

#thumbnail img{
    width: 49%;
    box-sizing: border-box;
    border-bottom-left-radius: 48px;
    margin: 12px 0px;
    border: solid 1px #111111;
}

#thumbnail {
    display: none;
}

#date {
    font-size: small;
    padding-left: 8px;
}

#text {
    padding: 0px;
    margin-top: 24px;
}

#text p{
    width: 90%;
    padding: 0px;
    margin: 0.25em 5% 1em;
}

#text h3 {
    padding: 0px;
    margin: 2em 0.5em 0px;
}

#text ul {
    margin: 0.25em 5% 1em;
}

#text li {
    margin: 0px;
    padding: 0px;
}

#pic img{
    width: 90%;
    box-sizing: border-box;
    border-bottom-left-radius: 48px;
    margin: 12px 0px;
    border: solid 1px #111111;
}