/* コンテンツのカード内 */
@media(min-width: 192px) and (min-height: 258px) and (max-width: 192px) and (max-height: 258px){
    body {
        background-color: #cccccc;
        padding: 0px;
        margin: 0px;
    }

    h1 {
        padding: 32px 0px;
        background-color: #FFFFFF;
        font-size: 16px;
    }
}