/* コンテンツのホーム画面 */

body {
    margin: 0px;
    padding: 32px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

/* 上部のニュース関連*/
#news {
    background-color: #CCCCCC;
    position: relative;
    width: 100%;
    height: auto;
}

#news .box:before{
    content: "";
    display: block;
    padding-top: 20%; /* 幅が変わると表示が変わるの最小の高さは考えなくていい */
}

#news .inner{
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}

#contents_parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 24px;
    padding-top: 24px;
}

.contents_box {
    display: block;
    width: 192px;
    height: 258px;
    padding: 12px;
    margin: 0px;
    border: none;
    overflow: hidden;
    border-bottom-left-radius: 48px;
}
