
/* grid関連 */
body {
    margin: 0px;
    padding: 0px;
    display: grid;
}
#icon	    {grid-area: icon;}
#menu	    {grid-area: menu;}
#content	{grid-area: content;}
#footer     {grid-area: footer;}

/* パソコンのグリッド */
body {
    grid-template-areas:
	    "icon content"
        "menu content"
        "footer content";
    grid-template-columns: 212px 1fr;
    grid-template-rows: 212px auto 32px;
    height: 100%;
}

/* タブレットのグリッド（お知らせは表示しない：ボックスで確認可能） */
@media (min-width: 600px) and (max-width: 999px){
    body {
        grid-template-areas:
            "icon menu"
            "content content"
            "footer footer";
        grid-template-columns: 128px 1fr;
        grid-template-rows: 128px auto 32px;
        height: 100%;
    }

    #icon {
        margin: 0px;
        padding: 4px;
        background-color: #555555;
    }

    #menu {
        margin: 0;
        padding: 4px;
        background-color: #555555;
    }

    #menu #link ul {
    }

    #menu #link li {
        display: inline;
    }

    #menu #link a {
        text-decoration: none;
        color: #FCFCFC;
        font-size: medium;
        text-align: center;
    }

    #menu #info{
        display: none;
    }
}

/* スマホのグリッド */

