
/* grid関連 */
body {
    margin: 0px;
    padding: 0px;
    display: grid;
}
#icon	    {grid-area: icon;}
#menu	    {grid-area: menu;}
#content	{grid-area: content;}

/* PCのグリッド */
body {
    grid-template-areas:
	    "icon content"
	    "menu content";
    grid-template-columns: 172px 1fr;
    grid-template-rows: 172px 1fr;
    height: 100%;
}
