.content {
    border: solid #111111 2px;
    border-radius: 5px;
    margin: 0px 2% 12px;
    padding: 20px;
}
@media (min-width: 600px) {
    .content {
        margin: 0px 2% 8px 0px;
    }
}

/* ---------- グリッド ---------- */
body {
     display: grid;
     grid-template-areas:
	"head head head"
	"side main guid"
	"foot foot foot";
    grid-template-columns: 256px 1fr 256px;
    grid-template-rows: auto 1fr 48px;
    height: 100%;
}
.title	    {grid-area: head;}
.menu	    {grid-area: side;}
.content    {grid-area: main;}
.guide	    {grid-area: guid;}
.copyright	{grid-area: foot;}

/* ---------- 600～999px ---------- */
@media (min-width: 600px) and (max-width: 999px) {
    body {
        grid-template-areas:
            "head head head"
            "side main guid"
            "foot foot foot";
        grid-template-columns: 256px 1fr 0px;
        grid-template-rows: auto 1fr 48px;
        height: 100%;
    }
}

/* ---------- 599px以下 ---------- */
@media (max-width: 599px) {
    body{
        grid-template-areas:
            "head head"
            "side side"
            "main guid"
            "foot foot";
        grid-template-columns: 1fr 0px;
        grid-template-rows: auto 158px 1fr 48px;
        height: 100%;
    }
    .menu {height: 158px;}
}
