
.adimg {
    width: 100%;
    height: 100%;
    position: relative;
}

.adimg img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
/*
#ad01 { visibility: hidden;}
#ad02 { visibility: hidden;}

:root{--adv: 256px;}
@media (width: var(--adv)){ #ad01 {visibility: visible;}}
*/