body {
    background-color: #FFFFFF;
    font-family: "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
    color: #111111;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: #FFFFFF;
    background: #111111;
    padding: 12px 18px 0px;
    margin: 0px;
}

h3 {
    border: #CCCCCC;
    border-bottom-style: solid;
    border-width: 1px;

    color: #111111;
    padding: 6px 12px 0px;
    margin: 0px 0px;
}

h4 {
    color: #FFFFFF;
    background: #111111;
    padding: 0px 18px 6px;
    margin: 0px;
}

p {
    margin: 18px;
}

li {
    list-style-type: none;
}

ul {
    margin: 0px 6px 18px;
    padding: 8px 24px;
}

.nav li a{
    float: left;
    margin: 0;
    border-left: #FFFFFF solid 1px;
    border-top: #FFFFFF solid 1px;
    box-sizing: border-box;
    padding: 6px 0px;
    background: #111111;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    min-width: 128px;
    display: block;
    width: 25vw;
}

.nav li a:hover{
    background: #222222;
}

.nav{
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    overflow: hidden;
    flex-wrap: wrap;
    border-right: #FFFFFF solid 1px;
}

.main {
    margin: 20px;
}
