/* ---------- 基本のグリッド ---------- */
body {
    display: grid;
	grid-template-areas:
		"head head head"
		"side main main"
		"foot foot foot";
    grid-template-columns: 1fr 5fr 200px
}
.title	    {grid-area: head;}
.menu	    {grid-area: side; min-width: 256px;}
.content    {grid-area: main;}
.copyright	{grid-area: foot;}

/* ---------- 600～999px ---------- */
@media (min-width: 600px) and (max-width: 999px) {
    body {
        grid-template-areas:
            "head head"
            "side main"
            "foot foot";
        grid-template-columns: 1fr 3fr
    }
}

/* ---------- 599px以下 ---------- */
@media (max-width: 599px) {
    body{
        grid-template-areas:
            "head"
            "side"
            "main"
            "foot";
        grid-template-columns: 1fr
    }
}