
.content a {
    margin: 0px;
    padding: 0px;
}

.content li {
    margin: 0px 0px;
}

.content ul {
    margin: 0em 1em 1em;
}

.content h2 {
    margin: 0px;
    padding: 0px;
}

.content p {
    margin: 0em 1em 1em;    
}