:root {
	/* 背景関連 */
	--ColorbgMain: #F2F2F2;
	--ColorbgSide: #CCCCCC;
	--ColorbgFoot: #AAAAAA;
	--ColorbgAccent: #AAAAAA;
	--ColorbgGrass: #CCCCCCAC;
	--ColorbgLink: #FF4444;

	/* 文字関連 */
	--ColorTextFoot: #444444;
	--ColorTextSide: #555555;
	--ColotTextSide2: #989898;
	--ColorTextMain: #333333;
	--ColorTextLink: #1155EE;
}

body {
	font-family: 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN','Osaka','Meiryo UI','Yu Gothic UI','Helvetica','Arial Black',sans-serif;
	background-color: var(--ColorbgSide);
	padding: 0px;
	margin: 0px;
	min-height: 100%;
	font-weight: bold;
	word-break: break-all; /* URLや長い文章によるレイアウト崩壊を防ぐため */
}

hr {
	background-color: var(--ColorbgFoot);
	border: none;
	height: 3px;
	margin: 1.4em 0;
}

h1 {
	padding: 0px;
	margin: 0px;
}

h2 {
	padding: 0em 0px 0.5em;
	margin: 0px;
	font-size: x-large;
	font-weight: bold;
	color: var(--ColotTextSide2);
}

p {
	padding: 0px;
	margin: 0 0 0.3em;
	width: calc(100%-64px);
}

ul {
	margin: 0 0 0.75em;
}

a {
	font-weight: bold;
}

a:link {
	color: var(--ColorTextLink);
}

a:visited {
	color: var(--ColorTextLink);
}

a:hover {
	color: var(--ColorTextLink);
	opacity: 0.8;
}

a:active {
	color: var(--ColorTextLink);
}

.whiteLink {
	color: var(--ColorTextMain);
	text-decoration: none;
}

.whiteLink:link {
	color: var(--ColorTextMain);
}

.whiteLink:visited {
	color: var(--ColorTextMain);
}

.whiteLink:hover {
	color: var(--ColorTextMain);
	opacity: 0.8;
}

.whiteLink:active {
	color: var(--ColorTextMain);
}