
body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Source Sans Pro', 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
    background: #EFEFEF;
}

h1 {
    margin: 0px;
}

h2 {
    margin: 0px;
    padding: 0px;
}

h4 {
    margin: 0px;
}

ul {
     list-style-type: none;
     padding: 0px;
     margin: 0px;
}

.title {
    margin: 12px 32px 4px;
}

.menu {
    padding: 0px;
    text-align: center;
}

.menu li{
    height: 48px;
    background: #111111;
    text-align: center;
    position: relative;
    margin: 0px 0px 1px;
}

.menu a{
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    color: #FFFFFF;
}

.content {
    background: #CFCFCF;
    padding: 20px;
}

.content img {
    max-width: 100%;
    height: auto;
}

.copyright {
    background: #111111;
    color: #FFFFFF;
    text-align: center;
    height: 48px;
    width: 100%;
    bottom: 0;
}

/* ---------- グリッド ---------- */
body {
    display: grid;
	grid-template-areas:
		"head head head"
		"side main main"
		"foot foot foot";
    grid-template-columns: 1fr 5fr 200px
}
.title	    {grid-area: head;}
.menu	    {grid-area: side; min-width: 256px;}
.content    {grid-area: main;}
.copyright	{grid-area: foot;}

/* ---------- 600～999px ---------- */
@media (min-width: 600px) and (max-width: 999px) {
    body {
        grid-template-areas:
            "head head"
            "side main"
            "foot foot";
        grid-template-columns: 1fr 3fr
    }
}

/* ---------- 599px以下 ---------- */
@media (max-width: 599px) {
    body{
        grid-template-areas:
            "head"
            "side"
            "main"
            "foot";
        grid-template-columns: 1fr
    }
}